<div class="main-container">
    <div class="container">

    <img class="img_login" src="../../../assets/icons/Screenshot 2024-08-28 145839.png">



        <div class="first-container">
            <div class="btn-cnt">
                <div class="header">
                    <div>
                        <button [@fade]="loginState" (click)="fadeSignup()" (click)="showLogin()" [disabled]="isLoginVisible">LOGIN</button>

                        <!-- <button [@fade]="loginState" (click)="fadeSignup()">LOGIN</button> -->
                    </div>
                    <div class="parentline" *ngIf="isLoginVisible"></div>
                </div>
                
                <div class="header">
                    <div>
                        <button (click)="showSignup()" [disabled]="!isLoginVisible" [@fade]="signupState" (click)="fadeLogin()">SIGNUP</button>
                        <!-- <button [@fade]="signupState" (click)="fadeLogin()">SIGNUP</button> -->
                        
                    </div>
                    <div class="parentline" *ngIf="!isLoginVisible"></div>
                    <!-- <div class="line"></div> -->
                </div>

            </div>


            <div *ngIf="isLoginVisible">
                <form [formGroup]="loginObj">

                    <label for="login-email"> Email Id</label><br>
                    <input type="text"name="email" formControlName="email"><br>
                    <div class="ng-validators" *ngIf="loginObj.get('email')?.touched">
                        <span class="ng-validators" *ngIf="loginObj.get('email')?.hasError('required')">Email is
                            required</span>
                        <span class="ng-validators" *ngIf="loginObj.get('email')?.hasError('email')">invalid email
                            address</span>
                    </div>

                    <label for="login-password">Password </label>
                    <input type="password" id="login-password" name="password" required><br>
                    <a routerLink="/forgot-password" style="border-color: #F5F5F5;">Forgot Password?</a><br>




                    <button style="background-color: brown;" class="l-button">LOGIN</button>
                    <p>--------------------<b>OR</b>---------------------</p>
                    <div class="FG-btn">
                        <button style="background-color: #4266B2 ; color: #F5F5F5;" class="btn2">FACEBOOK</button>
                        <button style="background-color: #F5F5F5; border-color: #d2c4c4;" class="btn3">GOOGLE</button>
                    </div>
                </form>
            </div>
            <!-- <div class="FG-btn">
                <button style="background-color: #4266B2 ;" class="btn2">FACEBOOK</button>
                <button style="background-color: #F5F5F5;" class="btn3">GOOGLE</button>
             </div> -->

            <div *ngIf="!isLoginVisible">

                <form style="align-items:center ;">
                    <label for="signup-username">FullName</label>
                    <input type="text" id="FullName" formControlName="fullname" required><br>
                    <div class="ng-validators" *ngIf="signup.get('fullname')?.touched">
                        <span class="ng-validators" *ngIf="signup.get('fullname')?.hasError('required')">FullName is
                            required</span>
                    </div>
                    <label for="login-email">Email Id</label>
                    <input type="email" id="email" formControlName="email" required><br>
                    <div class="ng-validators" *ngIf="signup.get('email')?.touched">
                        <span class="ng-validators" *ngIf="signup.get('email')?.hasError('required')">Email is
                            required</span>
                        <span class="ng-validators" *ngIf="signup.get('email')?.hasError('email')">invalid email
                            address</span>
                    </div>
                    <label for="login-password">Password </label>
                    <input type="password" id="login-password" formControlName="password" required><br>
                    <div class="ng-validators" *ngIf="signup.get('password')?.touched">
                        <span class="ng-validators" *ngIf="signup.get('password')?.hasError('required')">Enter a valid
                            password[Password should be 8 characters]</span>
                    </div>

                    <label for="Mobile Number">Mobile Number</label>
                    <input type="number" id="mobileno" formControlName="mobileno">
                    <div class="ng-validators" *ngIf="signup.get('mobileno')?.touched">
                        <span class="ng-validators" *ngIf="signup.get('mobileno')?.hasError('required')">Enter a
                            valid mobile number
                        </span>
                    </div>

                    <button style="background-color: #A03037; color: white;" class="s-btn"
                        (click)="signUp()">SIGNUP</button>

            </form>
        </div>
    </div>
</div>