.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9c9a9a;
}
.container{
    height:60%;
    width: 40%;
    display:flex;
    // flex-direction: column;
    padding-left: 40px;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 21px;
}
.container img{
    max-width: 60%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 20%;
}
.container p{
    margin-top: 10px;
}

.first-container{
    
    height: 110%;
    width: 45%;
    flex-shrink: 0;
    padding: 5% 10%;
    background-color: #FFFFFF;
    margin-left: 2%;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
}

.btn-cnt {
    width: 100%;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-around;
}
.btn-cnt button {
    background: none;
    border: none;
    color: #0A0102;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid rgb(124, 8, 8);
}

.FG-btn{
    background:none;
    width: 100%;
    display: inline-flex;
    margin-top: 8%;
    justify-content: space-between;
    // border: 2px solid red;

}
.FG-btn button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.btn2{
    border-color:#4266B2 ;
    
}

.s-btn{
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border: none;
    border-radius:  4px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-button{
    padding: 10px;
    padding-left: 82px;
    padding-right: 82px;
    border: none;
    border-radius:  4px;
    // margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input{
    padding: 10px;
    padding-right: 35px;
    margin-bottom: 5%;
    outline-color: #A03037;
}


p{
    // border: 1px solid red;
    width: 95%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
a{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    color: #9D9D9D;
    text-decoration: none;
}

label{
    font-weight: 550;
}

.ng-validators {
    color: red;
}