<app-navbar></app-navbar>

<div class="main-cnt">
    <div class="route-cnt">
        <span class="home-span" [routerLink]="['/']">Home / </span><span>My wishlist</span>
    </div>  

    <div class="wishlist-cnt">
        <div class="wishlist-heading">
            <p>My wishlist ({{ wishlistLen }})</p>
        </div>

        <div class="wishlist-content" *ngFor="let item of wishList; let ind = index">
            <div>
                <div class="img-cnt">
                    <img src="../../../assets/books/book2.png" alt="">
                </div>
                <div class="book-detials">
                    <p>{{ item.product_id.bookName }}</p>
                    <p id="auther-name">{{ item.product_id.bookName }}</p>
                    <P>Rs. {{ item.product_id.discountPrice }} &nbsp;<span>Rs {{ item.product_id.price }}</span></P>
                </div>
            </div>
            <div class="delete-btn">
                <button (click)="removeBook(ind)"><mat-icon>delete_outline</mat-icon></button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>