<div class="main-cnt">
    <div class="route-cnt">
        <span class="home-span">Home / </span><span>My cart</span>
    </div>

    <div class="cart-cnt">
        <div class="cart-heading">
            <p>My cart ({{cartLen}})</p>
            <div class="user-location">
                Location
            </div>
        </div>
        <div class="cart-content" *ngFor="let item of cartItems">
            <div class="img-cnt">
                <img src="../../../assets/books/book2.png" alt="">
            </div>
            <div class="book-detials">
                <p>{{item.product_id.bookName}}</p>
                <p id="auther-name">by {{item.product_id.author}}</p>
                <P>Rs. {{item.product_id.discountPrice}} &nbsp;<span>Rs {{item.product_id.price}}</span></P>
                <div class="book-count">
                    <button (click)="decrement()">-</button>
                    <input type="number" [(ngModel)]="item.quantityToBuy">
                    <button (click)="increment()">+</button>
                    
                </div>
            </div>         
        </div>
        
        <div class="btn-cnt">
            <button>PLACE ORDER</button>
        </div>

    </div>

    <div class="customer-cnt">
        <div class="customer-heading">
            <p>Address details</p>
            <div class="add-new-address">
                Add New Address
            </div>
        </div>
        <div class="customer-detail">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" [(ngModel)]="user.fullName">
            </div>
            <div>
                <label for="mobileNum">Mobile Number</label>
                <input type="text" name="mobileNum" [(ngModel)]="user.phone">
            </div>
        </div>
        <div class="customer-address">
            <mat-radio-group [(ngModel)]="custAddress">
                <div *ngFor="let item of address; let i = index">

                    <mat-radio-button value="{{item.addressType}}">
                        <span id="add-title">{{i+1}}. {{item.addressType}} </span>
                        <span id="add-edit-icon" *ngIf="custAddress==item.addressType">Edit</span>
                    </mat-radio-button>

                    <div class="address">
                        <p>Address</p>
                        <p *ngIf="custAddress!==item.addressType">{{item.fullAddress}}, {{item.city}}, {{item.state}}</p>

                        <div class="edit-address"  *ngIf="custAddress==item.addressType">
                            <textarea rows="4" name="address" id="address" [(ngModel)]="item.fullAddress">{{item.address}}</textarea>
                            <div class="address-area">
                                <div>
                                    <label for="city/town">city/town</label>
                                    <input type="text" name="city/town" [(ngModel)]="item.city" value="{{item.region}}">
                                </div>
                                <div>
                                    <label for="State">State</label>
                                    <input type="text" name="State" [(ngModel)]="item.state" value="{{item.state}}">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <p>{{custAddress}}</p>
            </mat-radio-group>
        </div>
        <div class="btn-cnt">
            <button>CONTINUE</button>
        </div>

    </div>

    <div class="summary-cnt">
        <p>Order summary</p>

        <div class="cart-content" *ngFor="let item of cartItems">
            <div class="img-cnt">
                <img src="../../../assets/books/book2.png" alt="">
            </div>
            <div class="book-detials">
                <p>{{item.product_id.bookName}}</p>
                <p id="auther-name">by {{item.product_id.author}}</p>
                <P>Rs. {{item.product_id.discountPrice}} &nbsp;<span>Rs {{item.product_id.price}}</span></P>
            </div>         
        </div>
        <div class="btn-cnt">
            <button>CHECKOUT</button>
        </div>
    </div>
</div>

<app-footer></app-footer>