<div class="main-cnt">
    <div class="route-cnt">
        <span class="home-span">Home / </span><span>My cart</span>
    </div>

    <div class="cart-cnt">
        <div class="cart-heading">
            <p>My cart(1)</p>
            <div class="user-location">
                Location
            </div>
        </div>
        <div class="cart-content">
            <div class="img-cnt">
                <img src="../../../assets/books/book 2.png" alt="">
            </div>
            <div class="book-detials">
                <p>Don't make me think</p>
                <p class="auther-name">by Steve Krug</p>
                <P>Rs. 1500 &nbsp;<span>Rs2000</span></P>
            </div>
        </div>
    </div>

    <div class="customer-cnt">

    </div>

    <div class="summary-cnt">
        
    </div>
</div>