.main-cnt {
    width: 60%;
    margin: 7% 0 0  20%;
    // border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.route-cnt {
    font-weight: 500;
    margin: 1em 0;
}
.home-span {
    color: #9D9D9D;
    cursor: pointer;
}

.cart-cnt {
    border: 1px solid #DCDCDC;
    padding: 1em 1em 2em 1em;
}
.cart-heading {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 1em;
}
.cart-heading p {
    // margin: auto;
    font-size: larger;
    font-weight: 700;
    margin-left: 1em;
}
.user-location {
    display: flex;
    margin-right: 1em;
    border: 1px solid #DCDCDC;
    padding: 5px 8px;
    border-radius: 1px;
    // max-width: 40%;
}

.cart-content {
    display: flex;
    margin: 2em;
    align-items: flex-start;
}

img {
    max-width: 65px;
    max-height: 85px;
    margin-right: 1em;
}
.book-detials {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
}
.book-detials p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.book-detials span {
    font-size: 14px;
    color: #9D9D9D;
    text-decoration: line-through;
}
#auther-name {
    color: #9D9D9D;
    font-size: 12px;
    font-weight: 300;
}
.book-count {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}
.book-count button{
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 0 0.4em;
    border: 1px solid #DCDCDC;
    background: white;
    font-size: 2em;
}
.book-count button:hover {
    background: #DCDCDC;
}
.book-count input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    width: 10%;
    height: 1.5em;
    border: 1px solid #DCDCDC;
    outline: 1px solid #DCDCDC;
    font-size: 16px;
    color: #333232;
}
#remove-btn {
    margin-left: 2em;
    font-size: 1em;
    border: none;
    background: none;
    cursor: pointer;
}

.customer-cnt {
    margin: 1em 0;
    border: 1px solid #DCDCDC;
    padding: 1em 1em;
}
.customer-cnt p {
    font-size: larger;
    font-weight: 500;
    margin-left: 1em;
}
.customer-heading {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 1em;
}
.add-new-address {
    display: flex;
    color: #A03037;
    border: 1px solid #A03037;
    margin-right: 1em;
    padding: 5px 8px;
    border-radius: 1px;
}
#add-edit-icon {
    margin-left: 2em;
    font-size: 16px;
    font-weight: 800; 
    color: #A03037;
}
::ng-deep .mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-focus-icon-color: #A03037;
    --mdc-radio-selected-hover-icon-color: #A03037;
    --mdc-radio-selected-icon-color: #A03037;
    --mdc-radio-selected-pressed-icon-color: #A03037;
    --mat-radio-checked-ripple-color: #A03037;
}


.customer-detail div{
    display: inline-block;
    width: 50%;
}
.customer-detail label {
    margin-left: 1em;
}
.customer-detail input {
    display: block;
    width: 80%;
    height: 3em;
    padding-left: 1em;
    border: 1px solid #DCDCDC;
    outline: 1px solid #DCDCDC;
}
.customer-address {
    margin-top: 1em;
}
#add-title {
    font-size: 18px;
    font-weight: 500;
}
.address {
    margin-left: 2em;
    // width: 90%;
}
.address p {
    font-size: 14px;
    font-weight: 500;
}

.edit-address {
    margin-bottom: 1em;
}
.edit-address textarea{
    margin-left: 1em;
    width: 90%;
    outline: none;
    border: 2px solid #DCDCDC;
    font-size: 16px;
    color: #9D9D9D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.address-area {
    display: inline-flex;
    margin-left: 1em;
    justify-content: space-between;
    width: 100%;
    // gap: 1em;
}
.address-area div {
    display: inline-block;
    width: 50%;
}
.address-area input {
    display: block;
    width: 80%;
    font-size: 16px;
    color: #9D9D9D;
    border: 2px solid #DCDCDC;
    outline: #DCDCDC;
    height: 2em;
}
.selected-add {
    margin-top: 1em;
}


.summary-cnt {
    border: 1px solid #DCDCDC;
    padding: 1em 1em;
}
.summary-cnt p {
    font-size: larger;
    font-weight: 500;
    margin-left: 1em;
}
.btn-cnt {
    display: flex;
    flex-direction: row-reverse;
}
.btn-cnt button {
    background: #3371B5;
    color: #FFFFFF;
    width: 30%;
    height: 2.5em;
    font-size: larger;
    border-radius: .5em;
    border: none;

}


//-------------Scroll bar------------
.scroll-cnt {
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 1em;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A03037; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dc434d; 
  }