.count_span{
    color: #9D9D9D;
    font-size: 12px !important;
}
.tool_bar{
    display: flex;
    margin-left: 30px;
    
}
.filter{
    border: 1px solid #E2E2E2;
    height: 30px;
    margin-left: 65%;
}

mat-form-field{
    margin-bottom: 0px !important;
    height: 30px;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align{
    height: 0px !important;
}
::ng-deep .mdc-line-ripple{
    display: none !important;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 90px;
    margin-right: 90px;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 5px !important;
    
}

