.count_span{
    color: #9D9D9D;
    font-size: 12px !important;
}
.tool_bar{
    display: flex;
    margin-left: 30px;
    
    
}
.filter{
    border: 1px solid #E2E2E2;
    margin-left: 65%;
}

mat-form-field{
    margin-bottom: 0px !important;
    
}
::ng-deep .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align{
    height: 0px !important;
}
::ng-deep .mdc-line-ripple{
    display: none !important;
}

.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 10px;
}

@media (max-width: 1000px){
    .books{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pagination{
        margin-left: 300px;
    }
}

@media (max-width: 750px){
    .books{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px){
    .books{
        grid-template-columns: 1fr;
    }
    .filter{
        margin-left: 10px;
        display: block;
    }
    .pagination{
        margin-left: 2%;
    }
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 5px !important;
    
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    
  }
  .mat-spinner circle, .mat-progress-spinner circle {
    stroke: #A03037 !important; /* Replace with your desired color */
  }

.content{
    margin-top: 80px;
}

.pagination{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 37%;
}
.nav_btn{
    background-color: white;
    border: 1px solid #E2E2E2;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.pg_num{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    width:30px ;
    height: 30px;
    padding: 5px 10px;
}

.active-page {
    background-color: rgb(150, 30, 30); /* Red background color for the active page */
    color: white; /* Optional: Change text color to white */
    
  }


  .footer-container {
    width: 100%;
    height: 50px;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.footer-text {
    width: 500px;
    height: 15px;
    font: 12px;
    font-size: medium;
    font-family: lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 174px;
    margin-top: 17px;
}