<div>
    <div class="tool_bar">
     <h2>Books <span class="count_span">({{ booklist.length }}  items)</span></h2>

     <div class="filter">
        <mat-form-field> 
            <mat-select [(value)]="selectedSortOption">
                <mat-option value="relevence" >Sort by relevance</mat-option>
                <mat-option value="lowtohigh">Price: Low to High</mat-option>
                <mat-option value="hightolow">Price: High to Low</mat-option>
            </mat-select>
          </mat-form-field>
     </div>
    </div>
    <div class="books">
       <div *ngFor="let book of booklist">
        <app-bookwidget [book]="book"></app-bookwidget>
       </div>
    </div>
</div>
