<p>bookdetails works!</p>
<div>
    <h2><span>Home/</span><span>Book(01)</span></h2>
</div>
<div>
    <div>
        <div>
            <div>
                <img>
            </div>
            <div>
                <img>
            </div>
        </div>
        <div>
            <div>
                <img>
            </div>
            <div>
                <button></button>
                <button></button>
            </div>
        </div>
    </div>
    <div>
      <div>

      </div>
      <div>

      </div>
      <div>
         
      </div>
    </div>
</div>