<app-navbar></app-navbar>

<div class="profile-container">
    <div class="home-profile">
        <span class="home-txt" [routerLink]="['/']" style="cursor: pointer;">Home/</span>
        <span class="Profile-txt">Profile</span>
    </div>
    <br>
    <div class="personal-edit">
        <span class="personal-txt">Personal Details</span>
        <span class="edit-txt">Edit</span>
    </div>
    <br>
    <div class="personal-form-contatiner">
        <form [formGroup]="personal_form">
            <div class="name-field">
                <label>Full Name</label><br>
                <input type="text" class="input" formControlName="name">
            </div>
            <div class="email-field">
                <label>Email Id</label><br>
                <input type="email" class="input" formControlName="email">
            </div>
            <div class="pwd-field">
                <label>Password</label><br>
                <input type="password" class="input" formControlName="pwd">
            </div>
            <div class="mobile-field">
                <label>Mobile Number</label><br>
                <input type="number" class="input" formControlName="mob">
            </div>
        </form>
    </div>

    <div class="address-form-conatainer">
        <div class="address-details">
            <p class="address-header">Address Details</p>
            <button>Add New Address</button>
        </div>
        <br>
        <div class="work-edit">
            <span class="work-txt">1.WORK</span>
            <span class="edit-txt">Edit</span>
        </div>
        <form [formGroup]="address_form">
            <div class="address-field">
                <label>Address</label><br>
                <textarea type="text" class="address-input" formControlName="address"></textarea>
            </div>
            <div class="state-city">
                <div class="city">
                    <label>City/Town</label>
                    <input type="text" formControlName="city">
                </div>
                <div class="state">
                    <label>State</label>
                    <input type="text" formControlName="state">
                </div>
            </div>
            <div class="type-field">
                <label>Type</label>
                <input type="radio" formControlName="type" name="type" value="home">
                <label>Home</label>
                <input type="radio" formControlName="type" name="type" value="work">
                <label>Work</label>
                <input type="radio" formControlName="type" name="type" value="other">
                <label>Other</label>
            </div>
        </form>
    </div>

</div>

<app-footer></app-footer>