.home-profile {
    margin-top: 80px;
    margin-left: 160px;
}

.home-txt {
    color: #E2E2E2;
}

.personal-txt {
    margin-left: 205px;
    font-weight: bold;
    font-size: medium;
}

.edit-txt {
    margin-left: 10px;
    color: #A03037
}

.name-field {
    margin-left: 215px;
}

.input {
    width: 511px;
    height: 45px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;

}

.email-field {
    margin-top: 10px;
    margin-left: 215px;
}


.pwd-field {
    margin-top: 10px;
    margin-left: 215px;
}

.mobile-field {
    margin-top: 10px;
    margin-left: 215px;
}

.address-details {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        width: 123px;
        height: 29px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #A03037;
        color: #A03037;
        border-radius: 2px;
        opacity: 1;
        margin-left: 276px;
        margin-top: 30px;
    }
}

.address-header {
    margin-left: 215px;
    margin-top: 40px;
    font-weight: bold;
    font-size: medium;
}

.work-txt {
    margin-left: 215px;
    font-weight: bold;
    font-size: medium;
}

.address-field{
    margin-top: 10px;
    margin-left: 215px;
}

.address-input{
    width: 512px;
height: 82px;
background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
border-radius: 2px;
opacity: 1;
resize: none;
}

.city,.state{
    display: flex;
    flex-direction: column;

}
.state{
    margin-left: 10px;
    input{
        width: 245px;
height: 45px;
background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
border-radius: 2px;
opacity: 1;
    }
    
}

.city{
    input{
    width: 251px;
height: 45px;
background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
border-radius: 2px;
opacity: 1;
}
}
.state-city{
    margin-top: 10px;
    margin-left: 215px;
    display: flex;
flex-direction: row;
align-items: center;
}
.city-input{
width: 251px;
height: 45px;
background: #F5F5F5 0% 0% no-repeat padding-box;
border: 1px solid #DCDCDC;
border-radius: 2px;
opacity: 1;

}

.state-input{
    
}

.type-field {
    width: 335px;
height: 40px;
    margin-top: 10px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}