.footer-container{
    width: 100%;
    height: 50px;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
   
}

.footer-text{
    width: 500px;
height: 15px;
font: 12px;
font-size: medium;
font-family: lato;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-left: 174px;
margin-top: 17px;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footer-text {
        width: 300px;
        margin-left: 50px;
    }
}

@media (max-width: 480px) {
    .footer-text {
        width: 200px;
        margin-left: 20px;
        font-size: small;
    }
}

