<!-- <div class="main-container">
    <div class="Please login">
        <p style="text-align:center;" class="text1"><b>PLEASE LOG IN </b></p>
          <p style="background-color: #9D9D9D" class="text2">Login to view items in your wishlist</p>
    </div>
</div> -->
<div class="login-container">
    <h2>PLEASE LOG IN</h2>
    <p style="color: #9D9D9D;">Login to view items in your wishlist.</p>
    <div class="icon">
      <img src="../../../assets/icons/Page-1.svg" alt="Wishlist Icon">
    </div>
    <button style="border: #A03037;">LOGIN/SIGNUP</button>
  </div>
  