<div class="navbar-container">
    <div class="nav">
        <img class="bookstore-icon" src="../../../assets/icons/education.svg">
        <p class="bookstore-text">BookStore</p>
        <div class="search">
            <img src="../../../assets/icons/search_24dp_9D9D9D_FILL0_wght400_GRAD0_opsz24.svg">
            <input matInput [(ngModel)]="searchText" class="search-box" placeholder="search.." (ngModelChange)="Search()">
        </div>
        <div class="cart-profile">
            <div class="line-1"></div>
            <div class="person">
                <mat-icon>person</mat-icon>
                <p>Profile</p>
            </div>
            <div class="line-2"></div>
            <div class="cart">
                <img src="../../../assets/icons/supermarket.svg">
                <p>Cart</p>
            </div>
            <p class="cart-number">1</p>
            <div class="line-3"></div>
        </div>


    </div>


</div>