<app-navbar></app-navbar>

<div class="main-container">
    <div class="order-placed">
        <img src="../../../assets/icons/Screenshot 2024-08-27 172155.png" class="img1">
        <h3 class="text1"><b>Order Placed Successfully</b></h3>
        <img src="../../../assets/icons/Screenshot 2024-08-27 172206.png" class="img2">
        <p style="text-align:center;" class="text2">hurry!!!your order confirmed<br>the order id is #123456 save the
            order id for <br>further communication</p>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th colspan="3">Email Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <!-- <th>Email Us</th>
                    <th>Contact Us</th>
                    <th>Address</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>abc@gmail.com</td>
                    <td>+91 8765432123</td>
                    <td>asdfghuytrdfghjhnbvcxsdfgtrewsdfgtred</td>
                </tr>
            </tbody>
        </table>
        <button class="btn">
            CONTINUE SHOPPING
          </button>
          
           
        
    </div>
</div>