<div class="forgot-password-container">
    <div class="navbar-forgot">
        <img class="bookstore-icon" src="../../../assets/icons/education.svg">
        <p class="bookstore-text">BookStore</p>
    </div>
    <div class="forgot-password">
        <p class="forgot-text">Forgot Your Password?</p>
        <div class="forgot-box">
            <p class="content-text">Enter your email address and we'll send you a link to reset your password.</p>
            <form [formGroup]="forgot">
                <label for="Email" class="email-label">Email Id</label>
                <br>
                <input type="text" name="email" class="email-textbox">
            </form>
            <button class="reset-btn">Reset Password</button>
        <div class="create-acc">
            <p class="create-text" style="font-weight: bold;">CREATE ACCOUNT</p>

        </div>


        </div>
    </div>
</div>

