.book_widget{
    width: 233px;
    height: auto;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    justify-content: center;

    &:hover{
        box-shadow: 0 3px 6px 0 rgb(78, 76, 76);
        .view_hover{
            display: block;
            cursor: pointer;
        }
    }
}

@media (max-width:500px){
    
}

.out_of_stock{
    z-index: 10;
    position: absolute;
    background-color:#ffffff;
    color:black;
    height: 24px;
    top:145px;
    left: 65px;
    box-shadow: 0 3px 6px 0 rgb(78, 76, 76);
   
}
.view_hover{
    z-index: 10;
    position: absolute;
    background-color: #000000;
    opacity: 71%;
    color:#ffffff;
    // width: 70px;
    height: 24px;
    top:150px;
    left: 75px;
    display: none;

}

.img_div{
    background-color: #F5F5F5;
    padding: 20px 65px;
    position: relative;
}
img{
    width: 100px;
    height: 135px;
}

.book_details_div{
    padding-left: 20px;
}
.book_title{
    margin-bottom: 0px;
}
span{
    color: #878787;
}

.book_rating{
    color: #ffffff !important;
    background-color: #388E3C;
    width: 30px;
    height: 16px;
    padding: 2px 4px;
    margin-right: 5px;

}
.offer{
    font-weight: 300 !important;
    text-decoration:line-through;
}